-e .
black==23.7.0
duckduckgo_search==7.5.4
flake8==6.1.0
gradio
ipykernel==6.29.5
langchain==0.3.23
langchain-community==0.3.21
loguru>=0.7.0
markdownify
matplotlib==3.10.1
openai>=1.66.1
pandas>=2.0.0
pre-commit==3.7.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
pydantic_settings==2.8.1
pydub==0.25.1
python-dotenv>=1.0.0
pyupgrade==3.16.0
rank-bm25==0.2.2
requests
scikit-learn==1.6.1
sentence-transformers==4.1.0
smolagents[litellm]
streamlit==1.44.0
toml==0.10.2
