-e .
black==23.7.0
duckduckgo_search==7.5.4
flake8==6.1.0
geopandas==0.14.3
gradio
ipykernel==6.29.5
kaleido==0.2.1
langchain==0.3.23
langchain-community==0.3.21
langchain_huggingface==0.2.0
langchain_openai==0.3.18
langgraph==0.4.7
loguru>=0.7.0
markdownify
matplotlib==3.10.1
openai>=1.66.1
pandas>=2.0.0
pdfplumber>=0.9.0
plotly==5.24.1
pre-commit==3.7.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
pydantic_settings==2.8.1
pydub==0.25.1
PyPDF2>=3.0.0
python-dotenv>=1.0.0
pyupgrade==3.16.0
rank-bm25==0.2.2
requests
scikit-learn==1.6.1
sentence-transformers==4.1.0
shapely==2.0.3
smolagents[litellm]
streamlit==1.44.0
toml==0.10.2
